<!DOCTYPE html>
<html>
    <head>
        <title>api/demo</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <style>
            html, body {
                width: 100%; height: 100%;
                margin: 0; padding: 0;
            }
            * {
                box-sizing: border-box;
            }
            #main {
                padding-top: 30px;
            }
        	pre {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id='main'>
            <pre id='user-list'>
            this.$axios.get(`http://192.168.17.41:3000/user/list`, {
                params: {
                    uuid: '1589522165555'
                }
            })
            .then(res => {
                console.log('res:', res)
            })
            </pre>
            <pre id='user-add'>
            this.$axios.post(`http://192.168.17.41:3000/user/add`, {
                name: '卢信桥',
                sex: '1',
                age: '30',
                weight: '73',
                birthday: '1990-07-16',
                phone: '15151843308',
                avatar: '',
                email: 'lxq1990.0716@qq.com',
                post: '223200',
                address: '江苏省南京市',
                habit: '0',
                education: '5',
                school: '南京人口管理干部学院',
                major: '信息管理与信息系统',
                company: '南京麦豆健康管理有限公司',
                job: '7',
                income: '888',
                remark: '系统管理员'
            })
            .then(res => {
                console.log('res', res)
            })
            </pre>
            <pre id='user-edit'>
            this.$axios.post(`http://192.168.17.41:3000/user/update`, {
                uuid: '1589522130173',
                name: '小卢',
                income: '8888'
            })
            .then(res => {
                console.log('res', res)
            })
            </pre>
            <pre id='user-delete'>
            this.$axios.post(`http://192.168.17.41:3000/user/delete`, {
                uuid: '1589521161520'
            })
            .then(res => {
                console.log('res', res)
            })
            </pre>
        </div>
        
        <script type='text/javascript'>
            var queryStr = window.location.search
            if (queryStr.indexOf('user-list') > -1) {
                document.getElementById("user-list").style.display = 'inline-block'
            } else if (queryStr.indexOf('user-add') > -1) {
                document.getElementById("user-add").style.display = 'inline-block'
            } else if (queryStr.indexOf('user-edit') > -1) {
                document.getElementById("user-edit").style.display = 'inline-block'
            } else if (queryStr.indexOf('user-delete') > -1) {
                document.getElementById("user-delete").style.display = 'inline-block'
            }
        </script>
    </body>
</html>
