<!DOCTYPE html>
<html>
    <head>
        <title>api</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
            html, body {
                width: 100%; height: 100%;
                margin: 0; padding: 0;
            }
            * {
                box-sizing: border-box;
            }
        	#main {
                margin: auto; padding: 8px 16px 32px 16px;
                width: 1200px; min-height: 100%;
                background-color: #e8f2ff;
            }
            .module {
                font-size: 24px;
                font-weight: bold;
            }
            .api {
                position: relative;
                margin-top: 20px;
            }
            .api>.title {
                position: relative;
                font-size: 16px;
            }
            .api>.title>span:nth-child(1) {
                position: absolute;
                top: 0; left: 0;
                padding: 5px;
                border-radius: 5px;
                font-size: 12px;
                color: #fff;
            }
            .api>.title.get>span:nth-child(1) {
                background-color: orange;
            }
            .api>.title.post>span:nth-child(1) {
                background-color: green;
            }
            .api>.title>span:nth-child(2) {
                font-size: 18px;
            }
            .api>.title.get>span:nth-child(2) {
                margin-left: 42px;
            }
            .api>.title.post>span:nth-child(2) {
                margin-left: 50px;
            }
            .api>.request {
                margin-top: 10px;
                font-size: 16px;
            }
            .api>.param {
                margin-top: 5px;
                font-size: 16px;
            }
            .api>.response {
                margin-top: 5px;
                font-size: 16px;
            }
            .api>.demo {
                position: absolute;
                right: 30px; top: 0;
                text-decoration: underline;
                color: blue;
                cursor: pointer;
            }
            .api>table {
                border-collapse: collapse;
            }
            .api>table th {
                padding: 3px 5px;
                text-align: left;
            }
            .api>table td {
                padding: 3px 5px;
            }
        </style>
    </head>
    <body>
        <div id='main'>
            <div class='module'>用户模块</div>
            <div class='api' style='margin-top: 10px;'>
                <div class='title get'>
                    <span>GET</span>
                    <span>查询用户列表</span>
                </div>
                <div class='request'>接口地址：http://106.15.63.76:3000/user/list</div>
                <div class='param'>传参：用户对象</div>
                <div class='response'>返回：用户对象</div>
                <div class='demo' onclick='window.open("./api/demo?type=user-list")'>demo</div>
            </div>
            <div class='api'>
                <div class='title post'>
                    <span>POST</span>
                    <span>新增用户</span>
                </div>
                <div class='request'>接口地址：http://106.15.63.76:3000/user/add</div>
                <div class='param'>传参：用户对象（uuid不传）</div>
                <div class='response'>返回：{
                    code: 200,
                    data: {},
                    msg: '新增成功'
                }</div>
                <div class='demo' onclick='window.open("./api/demo?type=user-add")'>demo</div>
            </div>
            <div class='api'>
                <div class='title post'>
                    <span>POST</span>
                    <span>修改用户</span>
                </div>
                <div class='request'>接口地址：http://106.15.63.76:3000/user/update</div>
                <div class='param'>传参：用户对象（uuid必传）</div>
                <div class='response'>返回：{
                    code: 200,
                    data: {},
                    msg: '修改成功'
                }</div>
                <div class='demo' onclick='window.open("./api/demo?type=user-edit")'>demo</div>
            </div>
            <div class='api'>
                <div class='title post'>
                    <span>POST</span>
                    <span>删除用户</span>
                </div>
                <div class='request'>接口地址：http://106.15.63.76:3000/user/delete</div>
                <div class='param'>传参：{
                    uuid: '1589462756628'
                }</div>
                <div class='response'>返回：{
                    code: 200,
                    data: {},
                    msg: '删除成功'
                }</div>
                <div class='demo' onclick='window.open("./api/demo?type=user-delete")'>demo</div>
            </div>
            <div class='api'>
                <table border='1' cellspacing='0'>
                    <thead>
                        <tr>
                            <th>字段</th><th>描述</th><th>类型</th><th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>name</td><td>姓名</td><td>string</td><td></td></tr>
                        <tr><td>sex</td><td>性别</td><td>string</td><td>0-未知 1-男 2-女</td></tr>
                        <tr><td>age</td><td>年龄</td><td>string</td><td></td></tr>
                        <tr><td>weight</td><td>体重（kg）</td><td>string</td><td></td></tr>
                        <tr><td>birthday</td><td>生日</td><td>string</td><td>YYYY-MM-DD格式</td></tr>
                        <tr><td>phone</td><td>手机号</td><td>string</td><td></td></tr>
                        <tr><td>avatar</td><td>头像</td><td>string</td><td></td></tr>
                        <tr><td>email</td><td>邮箱</td><td>string</td><td></td></tr>
                        <tr><td>post</td><td>邮编</td><td>string</td><td></td></tr>
                        <tr><td>address</td><td>家庭地址</td><td>string</td><td></td></tr>
                        <tr><td>habit</td><td>兴趣爱好</td><td>string</td><td>0-无 1-跑步 2-游泳 3-瑜伽 4-音乐 5-电影 6-旅游 7-美食 8-购物 9-其他</td></tr>
                        <tr><td>education</td><td>学历</td><td>string</td><td>0-无 1-小学 2-初中 3-高中 4-大专 5-本科 6-硕士 7-博士</td></tr>
                        <tr><td>school</td><td>毕业院校</td><td>string</td><td></td></tr>
                        <tr><td>major</td><td>专业</td><td>string</td><td></td></tr>
                        <tr><td>company</td><td>公司名称</td><td>string</td><td></td></tr>
                        <tr><td>job</td><td>岗位</td><td>string</td><td>1-服务业 2-建筑业 3-制造业 4-农业 5-纺织业 6-加工业 7-个体 8-IT</td></tr>
                        <tr><td>income</td><td>年收入（万元）</td><td>string</td><td>1-10万以下 2-10万-20万 3-20万-50万 4-50万-100万 5-100万-500万 6-500万以上</td></tr>
                        <tr><td>remark</td><td>备注</td><td>string</td><td></td></tr>
                        <tr><td>uuid</td><td>主键id</td><td>string</td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
